<!--
  jomdana (com.knb.jomdana) Info.plist
  合并进宿主 App 的 LSApplicationQueriesSchemes
  对应 ApLogManager 马来西亚 App 探测白名单（已排除无独立 scheme 的 4 个）
  已排除: PMO PLUS / JomAuto / Maybank QRPayBiz / Tabung Haji
-->
<key>LSApplicationQueriesSchemes</key>
<array>
	<string>keebu</string>
	<string>official.duitgini</string>
	<string>valetax</string>
	<string>bnpl</string>
	<string>myaha</string>
	<string>louisapp</string>
	<string>belanje</string>
	<string>my.nimbura</string>
	<string>shopeepaymy</string>
	<string>com.kwsp.mip</string>
	<string>maybank2umae</string>
	<string>TNGDWallet</string>
	<string>pruservices</string>
	<string>gxbank</string>
	<string>myasnb</string>
	<string>novuscimbocto</string>
	<string>metatrader5</string>
	<string>MyTax</string>
	<string>transferwise</string>
	<string>my.rytbank.app</string>
	<string>today.wander.acspayments</string>
	<string>rhbmobilebanking</string>
	<string>ftmm</string>
	<string>jm-trading</string>
	<string>adbapp</string>
	<string>etiqaplus</string>
	<string>bimb</string>
	<string>myptptn</string>
	<string>mybsn</string>
	<string>myhlbconnect</string>
	<string>fb207205057619740</string>
	<string>affinalways</string>
	<string>amonlinemy</string>
	<string>igsappgameid1457540360</string>
	<string>slots.games.vegas.night.casino</string>
	<string>reface</string>
	<string>faceplaymaker</string>
	<string>comgetcontact</string>
	<string>anydesk</string>
	<string>teamviewer8</string>
	<string>supervpn</string>
	<string>vpnmaster</string>
	<string>turboVPN</string>
</array>
